name: Java CI + Auto Release

on:
  push:
    branches: [ "main", "master" ]

permissions:
  contents: write

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build JAR
      run: mvn clean package

    - name: Create Release and Upload JAR
      uses: softprops/action-gh-release@v1
      with:
        tag_name: v1.0
        name: Sudoku Solver v1.0
        files: target/*.jar
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
