name: Java CI Pipeline

on:
  push:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build JAR
      run: mvn package

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: sudoku-solver
        path: target/*.jar
